main {
  padding: 5px;
  & .middle-section {
    display: flex;
  }
  & .main-score-cards {
    flex: 1;
    width: 125px;
    & h2 {
      margin: 0px;
      padding: 0px;
    }
  }
  & .player-scorecard {
    box-sizing: border-box;
    padding: 7px;
  }
  & .main-letters {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 40px;
    & button {
      background-color: black;
      border: none;
      color: $white;
      font-size: 20px;
      transition: all .2s ease-in-out;
    }
    & button:hover {
      text-shadow: 5px, 5px, 30px;
      transform: scale(3.0);
    }
    & button:disabled {
      color: #636363;
      transform: none;
    }
  }
}

.middle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 6;
  & .category-hint {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100px;
    width: 80%;
  }
  & .player-scorecard {
    margin: 5px;
    & h4 {
      font-size: 24px;
      margin: 5px;
    }
  }
  & .puzzle {
    // align-self: center;
    justify-content: center;
    align-items: center;
    flex: 5;
    height: 300px;
    width: 80%;
  }
  & .puzzle-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    margin: auto;
    & .puzzle-letters {
      align-items: center;
      background-color: $white;
      color: black;
      display: flex;
      height: 40px;
      justify-content: center;
      list-style: none;
      margin: 5px;
      width: 40px;
    }
    & .puzzle-letters-black{
      background-color: black;
      box-sizing: border-box;
      color: black;
      list-style: none;
      margin: 5px;
      padding: 15px;
    }
  }
}

.turn-controls {
  display: block;
  margin: auto;
  width: 500px;
    input {
      border: none;
      height: 30px;
      margin: 10px 0;
      width: 100%;
  }
    & button:disabled {
      background-color: 636363;
      color: black;
  }
  & .turn-buttons {
    display: flex;
    justify-content: space-between;
  
      button {
        font-style: inherit;
        height: 30px;
        width: 150px;
    }
  }
  & #guess-word-letters {
    color: $white;
  }
  & .guess-word-submit {
    font-style: inherit;
    height: 30px;
    width: 100%;
  }
}

.spin-value {
  font-size: 36px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.death-star-container {
  display: flex;
  flex: 2.5;
  &  #deathstar {
    align-self: center;
    animation: pulsate-fwd 4s ease-in-out infinite both;
    border-radius: 50%;
    box-shadow: 0px 0px 75px $deathStarGlow;
    flex: 2;
    width: 100%;
  }
}

.current-player {
  border: solid 2px $yellow;
}

.roll-in {
	animation: roll-in 0.6s ease-in-out both;
}