.pregame-prompt-container {
  align-items: center;
  background-image: url('../images/starwarsbackground.jpg');
  display: flex;
  font-size: 28px;
  height: 85%;
  justify-content: center;
  position: absolute;
  width: 80%;
}