* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}
body {
  display: flex;
}

header {
  width: 100%;
  display: flex;
  box-shadow: 0 0 10 10 black;
  height: 150px;
  border: gray 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #51768C;
  /* color: white; */
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  margin: 50px 10px;
  text-align: center;
}

.section-left {
  width: 64%;
  display: flex;
  height: 550px;
  border: gray 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(81, 90, 140);
  position: fixed;
  top: 150px;
  left: 0;
} 

.section-right {
    width: 36%;
    min-width: 400px;
    display: flex;
    box-shadow: 0 0 10 10 black;
    height: 550px;
    border: gray 1px solid;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: rgb(52, 90, 52);
    position: fixed;
    top: 150px;
    right: 0;  
  } 


