HTML {
  width: 100%;
}
body {
  background-image: url('../images/starwarsbackground.jpg');
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 1vh;
}

header {
  font-size: 30px;
  color: #ffd700;
  text-align: center;
  text-shadow: 2px 2px 4px;
    & h1 {
      margin: 25px 0px;
    }
}

main {
  padding: 5px;
}

.middle-section {
  display: flex;
}

.spin-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.death-star-container {
  display: flex;
  flex: 2.5;
    &  #deathstar {
      align-self: center;
      animation: pulsate-fwd 4s ease-in-out infinite both;
      border-radius: 50%;
      box-shadow: 0px 0px 75px #ffffff77;
      flex: 2;
      width: 100%;
    }
    @keyframes pulsate-fwd {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.04);
      }
      100% {
        transform: scale(1);
      }
    }
}

.main-score-cards {
  flex: 1;
}

.main-letters {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  padding: 40px;
  & article {
    font-size: 20px;
    transition: all .2s ease-in-out;
  }
  & article:hover {
    text-shadow: 5px, 5px, 30px;
    transform: scale(3.0);
  }
}

.middle-container {
  display: flex;
  flex-direction: column;
  flex: 6;
  & .category-hint {
    align-items: center;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100px;
    width: 80%;
  }
  & .player-scorecard {
    margin: 5px;
    & h4 {
      font-size: 24px;
      margin: 5px;
    }
  }
  & .puzzle {
    align-self: center;
    flex: 5;
    height: 300px;
    width: 80%;
  }
  & .puzzle-container {
    align-self: center;
    display: flex;
    justify-self: center;
    margin: auto;
    & .puzzle-letters {
      background-color: white;
      box-sizing: border-box;
      color: black;
      list-style: none;
      margin: 5px;
      padding: 15px;
    }
  }
}

.pre-game-form {
  align-items: center;
  background-image: url('../images/starwarsbackground.jpg');
  display: flex;
  height: 75%;
  justify-content: center;
  position: absolute;
  width: 100%;
  & .player-names {
    display: flex;
    flex-direction: column;
    width: 40%;
    & .player-name-inputs {
      background-color: #f0f0f0;
      border: none;
      color: black;
      font-size: 20px;
      height: 40px;
      margin: 20px 0px;
      padding: 5px;
    }
  }
}

.puzzle-letters {
  list-style: none;
  background-color: white;
  color: black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.turn-controls {
  display: block;
  margin: auto;
  width: 500px;
    input {
      width: 100%;
      border: none;
      height: 30px;
      margin: 10px 0;
    }
}

.turn-buttons {
  display: flex;
  justify-content: space-between;

    button {
      height: 30px;
      width: 150px;
      font-style: inherit;
    }
}

.current-player {
  border: solid 2px #ffd700;
}











